<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist SYSTEM"file://localhost/System/Library/DTDs/PropertyList.dtd"><plist version="0.9"><dict>   <key>CFBundleExecutable</key>   <string>Free Ruler 1.7b5</string>   <key>CFBundleName</key>   <string>Free Ruler 1.7b5</string>   <key>CFBundleIdentifier</key>   <string></string>   <key>CFBundleInfoDictionaryVersion</key>   <string>6.0</string>   <key>CFBundleVersion</key>   <string>1.7.1b5</string>   <key>CFBundleDevelopmentRegion</key>   <string>en</string>   <key>CFBundlePackageType</key>   <string>APPL</string>   <key>CFBundleSignature</key>   <string>FRUL</string>   <key>CFBundleGetInfoString</key>   <string>Free Ruler 1.7b5</string>   <key>CFBundleShortVersionString</key>   <string>1.7b5</string>   <key>CFBundleIconFile</key>   <string>Free Ruler 1.7b5.icns</string>   <key>CFBundleDocumentTypes</key>   <array>   </array></dict></plist>